@model List<ServiceModel>
@{
    ViewData["Title"] = "ServiceView";
}

<h1>ServiceView</h1>
@foreach(var item in Model)
{
    <p>@item.Id</p>
    <p>@item.name</p>
    <p>@item.price</p>
    <p>@item.sex</p>
}

